h1{
    color: blueviolet;
    display: flex;
    justify-content: center;
}
textarea{
    color: hotpink;
    display: flex;
    justify-content: center;
}
#start_btn{
    background-color: hotpink;
    display: flex;
    justify-content: center;
}
#stop_btn{
    background-color: hotpink;
    display: flex;
    justify-content: center;
    margin-top: 2%;
    margin-left: 4%;
}